a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

header {
    background-color: #F7418F;
}

li {
    list-style-type: none;
}

.navbar {
    background-color: #F7418F;
    color: white;
}

.navbar-brand {
    color: white;
    font-size: 25px;
}

.nav-link {
    font-size: 17px;
}

.navbar-brand:hover {
    color: #fff;
}

.container-fluid {
    height: 70px;
}

.text-white {
    color: white;
}

.offcanvas-body {
    background-color: #F7418F;
}

.offcanvas-header {
    background-color: #F7418F;
}

.offcanvas-title {
    font-size: 25px;
}

.banner {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url('../img/banner.png');
    background-size: cover;
}

.banner h2 {
    color: white;
    font-size: 30px;
    text-shadow: 3px 3px 0px #FC819E;
    font-weight: 800;
}

.banner p {
    margin: 18px;
    font-size: 20px;
    color: white;
}

.banner button {
    padding: 20px;
    font-size: large;
    border-radius: 20px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

section {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

section h2 {
    margin-top: 50px;
}

section h3 {
    margin-top: 20px;
    font-weight: lighter;
}

.card p {
    font-size: 20px;
    margin-top: 30px;
}

.card button {
    margin-top: 15px;
    padding: 15px;
    border-radius: 20px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 300px;
    margin-top: 40px;

}

.card-image {
    width: 200px;
    height: 200px;
    margin-top: 70px;
    border-radius: 200px 200px 200px 200px;
}