* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.primary {
    background-color: #5BBCFF;
}

.secondary {
    background-color: #FFFAB7;
}

.tertiary {
    background-color: #FFD1E3;
}

.quartiary {
    background-color: #7EA1FF;
}

body {
    font-family: "Rubik", sans-serif;
}

button {
    background-color: none;
    padding: 10px;
    border-radius: 10px;
    border: none;
}