* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.primary {
    background-color: #088395;
}

.secondary {
    background-color: #088395;
}

.tertiary {
    background-color: #37B7C3;
}

.quartiary {
    background-color: #EBF4F6;
}

body {
    font-family: "Rubik", sans-serif;
}

button {
    background-color: none;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.text-white {
    color: #EBF4F6;
}